<section class="">
    <div class="flex justify-between">
        <!-- l -->
        <div class="flex-1 pt-20 flex flex-col space-y-8 px-16 ">
            <h1 class="text-5xl font-bold leading-tight ">Welcome to my <span
                    class="text-red-600">Traineeship</span><br> showcase at Bajra Technologies </h1>
            <p class="text-md line-clamp-3">Welcome, to my showcase of assignments completed during my enriching
                traineeship period at Bajra
                Technologies.
                Here, you'll find a collection of projects and tasks that demonstrate my dedication, skills, and growth
                throughout this journey.Here, you'll find a collection of projects and tasks that demonstrate my
                dedication, skills, and growth
                throughout this journey.Here, you'll find a collection of projects and tasks that demonstrate my
                dedication, skills, and growth
                throughout this journey.</p>
            <div class="flex flex-col space-y-5 space-x-0 sm:flex-row sm:space-y-0 sm:space-x-5 ">
                <div class="relative w-fit z-0">
                    <a href="#assignments ">
                        <button
                            class=" pr-14 pl-8 py-3 text-sm text-white bg-red-900  border-red-900 rounded-full shadow-md hover:bg-red-800 active:bg-red-900">Assignments</button>
                    </a>
                    <img class="absolute text-sm h-6 right-3.5 top-2.5" src="./public/img/right-arrow.png" alt="">
                </div>
                <div>
                    <button class="px-8 py-2 text-red-500 border-2 border-red-700 rounded-full ">Bajra
                        Traineeship</button>
                </div>
            </div>
        </div>

        <!-- right side -->
        <div class=" m-5 lg:flex lg:justify-end lg:w-2/5 hidden... lg:di ">
            <img src="/public/img/Office work.gif" type="image/gif" alt="">
        </div>
    </div>
</section>