<nav class="bg-red-900 text-white  fixed right-0 left-0 top-0 w-full">
  <div class="container mx-auto px-6 py-3 h-20 flex justify-between items-center">
    <div class="h-16">
      <img class="object-cover h-full w-full" src="./public/img/BajraFooterLogo.png" alt="">
    </div>
    <div class=" space-x-8">
      <a href="#home"
        class=" hover:text-red-500 hover:border-red-500 hover:border-b-4 border-b-4 border-transparent ">Home
      </a>
      <a href="#about"
        class=" hover:text-red-500 hover:border-red-500 hover:border-b-4 border-b-4 border-transparent">About</a>
      <a href="#assignments"
        class=" hover:text-red-500 hover:border-red-500 hover:border-b-4 border-b-4 border-transparent">Assignments</a>
      <a href="#contact"
        class=" hover:text-red-500 hover:border-red-500 hover:border-b-4 border-b-4 border-transparent">Contact</a>
    </div>
  </div>
</nav>